%header#header
	%nav.site-nav.top-nav
		%ul
			%li
				= link_to "Home", "/"
			%li
				= link_to "About", "/about"
			%li
				= link_to "Portfolio", "/portfolio"
			%li
				= link_to "Resume", "/resume"
			%li
				= link_to "Blog", "/blog"
	%hr