---
title: Hello World
---

%h1
	= current_page.data.title
%section
	%h2 References I Like
	%ol
		%li
			= link_to "Scalable and Modular Architecture in CSS", "http://smacss.com/book/"
			%p A guide to modular organization and architecture of CSS. If you've ever been confused on whether to use a child selector or not, whether to use an ID or give something a class instead, and other CSS questions, this is a good place to get answers.
		%li
			= link_to "Eloquent Javascript", "http://eloquentjavascript.net/"
		%li
			= link_to "Javascript Garden", "http://bonsaiden.github.io/JavaScript-Garden/"
		%li
			= link_to "Backbone Fundamentals", "http://addyosmani.github.io/backbone-fundamentals/"
			%p A really good primer on putting together Backbone applications. Once you've looked over the backbonejs homepage, come read this to get a handle on WTF you're doing.
%section
	%h2 What I've Done
	%ul
		%li
			Menuat
			%p
				My role was as the developer on the website, writing code, markup, styles, etc. to translate design documents into an actual website. The site is based on a basic Rails backend and is primarily static.
			%ul
				%li
					Used a Rails backend to facilitate creating partials, serving assets, hosting on Heroku, etc.
				%li
					Interpreted and wrote the markup and styling for the site based on design documents
				%li
					Heavily customized the Foundation framework for use on the site
				%li
					Worked with Sean and Mike on details and assets
		%li
			Kyn Exchange (which hasn't quite gotten to my part yet...)
		%li
			Personal projects and toys that really should be getting done right now!
%section
	%h2 What will this site be structured like?
	%p
		I'm imagining something like this:
		%ul
			%li A blog page, with index page, and individual post pages.
			%li A resume/projects page, with details on what I've done with my life (not a whole lot).
			%li An "interesting resources" page, like I have up there.
			%li A "frontend" page, with toys made in Backbone 'n stuff.
			%li What else...?