---
title: Hello World
---

%h1
	= current_page.data.title
%section
	%h2 References I Like
	%ol
		%li
			= link_to "Scalable and Modular Architecture in CSS", "http://smacss.com/book/"
		%li
			= link_to "Eloquent Javascript", "http://eloquentjavascript.net/"
		%li
			= link_to "Javascript Garden", "http://bonsaiden.github.io/JavaScript-Garden/"
		%li
			= link_to "Backbone Fundamentals", "http://addyosmani.github.io/backbone-fundamentals/"