---
title: Rebecca Paz
---

%section
	%p
		My big ol' blurb about being smart, flexible, adaptable, and a quick learner. Also what I like and what I've done.
	%div#projects
	%p
		Also, here's a list of resources I like!
		%ul.dropdown-menu
			%li
				= link_to "Scalable and Modular Architecture in CSS", "http://smacss.com/book/"
			%li
				= link_to "Eloquent Javascript", "http://eloquentjavascript.net/"
			%li
				= link_to "Javascript Garden", "http://bonsaiden.github.io/JavaScript-Garden/"
			%li
				= link_to "Backbone Fundamentals", "http://addyosmani.github.io/backbone-fundamentals/"
			%li
				= link_to "Learn to Program", "https://pine.fm/LearnToProgram/"
